<!-- Begin About -->
<section id="section2" class="content container">

	<!-- Text -->
	<div class="title grid-full">
		<h2>About</h2>
		<span class="border"></span>
		<p class="sub-heading2"><a href="http://essential-music.com/">Essential Music &amp; Marketing</a> have been redefining the roles of distributor and record label since 2003, offering bespoke services ranging from basic digital and physical distribution packages for labels to full project management, marketing and sales for artists releasing their own music.</p><p class="sub-heading">EIS is a cloud based catalogue management, asset storage &amp; content delivery platform.</p>
	</div>

	<!-- Image -->
	<%= image_tag('marketing.png', :class => "animated slide" ) %>
</section>
<!-- End About -->