<!-- Begin Services -->
<section id="section3" class="parallax-bg2 parallax colored clearfix">
	<div class="content dark padded container">

		<!-- Text -->
		<div class="title grid-full">
			<h2>What the dashboard does</h2>
			<span class="border"></span>
			<p class="sub-heading">The Essential Music dashboard keeps all your catalogue in one place. From metadata to all product assets, we've got it covered, and with an average uptime of 99.9% over the past two years, you know you can access your information whenever you need to.</p>
		</div>

		<!-- Icons -->
		<ul class="icons clearfix">

			<!-- Single Icon -->
			<li class="overview animated entrance" data-appear-bottom-offset="100">

				<!-- Feature List -->
				<div class="tooltip">
					<ul class="feature-list">
						<li><span class="list-dot"></span>iTunes</li>
						<li><span class="list-dot"></span>Amazon</li>
						<li><span class="list-dot"></span>By product</li>
						<li><span class="list-dot"></span>By Track</li>
					</ul>
				</div>
				<span class="arrow-down"></span>

				<!-- Icon -->
				<div class="icon analytics"></div>

				<!-- Title -->
				<h4>ANALYTICS</h4>

			</li>

			<!-- Single Icon -->
			<li class="overview animated entrance" data-appear-bottom-offset="100">

				<!-- Feature List -->
				<div class="tooltip">
					<ul class="feature-list">
						<li><span class="list-dot"></span>Management</li>
						<li><span class="list-dot"></span>Metadata</li>
						<li><span class="list-dot"></span>Asset storage</li>
						<li><span class="list-dot"></span>Product sales / press sheets</li>
					</ul>
				</div>
				<span class="arrow-down"></span>

				<!-- Icon -->
				<div class="icon design"></div>

				<!-- Title -->
				<h4>CATALOGUE</h4>
			</li>

			<!-- Single Icon -->
			<li class="overview animated entrance" data-appear-bottom-offset="100">

				<!-- Feature List -->
				<div class="tooltip">
					<ul class="feature-list">
						<li><span class="list-dot"></span>Physical to any territory</li>
						<li><span class="list-dot"></span>Digital to all major platforms</li>
						<li><span class="list-dot"></span>PPL registration and collection</li>
					</ul>
				</div>
				<span class="arrow-down"></span>

				<!-- Icon -->
				<div class="icon delivery"></div>

				<!-- Title -->
				<h4>DELIVERY</h4>
			</li>

			<!-- Single Icon -->
			<li class="overview animated entrance" data-appear-bottom-offset="100">

				<!-- Feature List -->
				<div class="tooltip">
					<ul class="feature-list">
						<li><span class="list-dot"></span>Artists / label FB tracking</li>
						<li><span class="list-dot"></span>Twitter monitoring</li>
						<li><span class="list-dot"></span>Social Strategy and Planing</li>
					</ul>
				</div>
				<span class="arrow-down"></span>

				<!-- Icon -->
				<div class="icon social"></div>

				<!-- Title -->
				<h4>Social</h4>
			</li>

			<!-- Single Icon -->
			<li class="overview animated entrance" data-appear-bottom-offset="100">

				<!-- Feature List -->
				<div class="tooltip">
					<ul class="feature-list">
						<li><span class="list-dot"></span>HTML and CSS</li>
						<li><span class="list-dot"></span>Ruby on Rails</li>
						<li><span class="list-dot"></span>Javascript and jQuery</li>
					</ul>
				</div>
				<span class="arrow-down"></span>

				<!-- Icon -->
				<div class="icon tech"></div>

				<!-- Title -->
				<h4>Tech</h4>
			</li>

		</ul>
	</div>
	
</section>
<!-- End Services -->