<nav class="clearfix">

	<!-- Logo -->
	<div class="logo">
		<a id="top" href="#"><%= image_tag ('logo.png') %></a>
	</div>

	<!-- Mobile Nav Button -->
	<button type="button" class="nav-button" data-toggle="collapse" data-target=".nav-content">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <!-- Navigation Links -->
    <div class="navigation">
		<ul class="nav-content">
			<li><a class="active" href="#section1">Home</a></li>
			<li><a href="#section2">About</a></li>
			<li><a href="#section3">Features</a></li>
			<li><a href="#section4">Projects</a></li>
			<li><a href="#section5">Clients</a></li>
			<li><a href="">Login</a></li>
		</ul>
	</div>

</nav>
<!-- End Navigation -->